<h1>
  <p class="text-3xl font-bold text-gray-800 mb-4">Articulo</p>
</h1>

<h2 class="text-2xl font-semibold text-gray-700 mb-2">
  <%= @article.title %>
</h2>

<p class="text-gray-600 leading-relaxed mb-4">
  <%= @article.body %>
</p>

<p class="text-sm text-gray-500 italic mb-4">
  Probando Acode
</p>

<%= link_to "Volver al inicio", articles_path, class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>

