<footer class="bg-gray-900 text-white py-4">
  <div class="max-w-2xl mx-auto text-center">
    <p>Diseñado por Luis Estigarribia</p>
    <p>Copyright &copy; <%= Time.now.year %> Blog</p>
    <p>Todos los derechos reservados</p>
    <div class="flex justify-center gap-2 items-center">
        <p>Desarrollado con <i class="material-symbols-outlined text-red-500 animate-pulse">Rails</i></p>
        <%= image_tag "ruby.png", width: 25, class: "animate-pulse" %>
    </div>
  </div>
</footer>
