<%= link_to root_path, class: "ml-10 text-blue-600 cursor-pointer bg-dark-500 hover:bg-dark-700 group hover:scale-105 transition-transform duration-300" do %>
  <span class="material-symbols-outlined w-10 h-10 mt-11 group-hover:translate-x-0.5 transition-transform duration-300 group-hover:scale-125">home</span>
<% end %>
